


body {
    font-family: 'Roboto', sanserif;
}

@media screen and (min-width:500px) {

}

header, main, footer {
    max-width: 640px;
    margin: 1rem auto;
    border: 1px solid #bbb; 
    padding: 1rem; 
    background-color: #e6f2ff;
}

header {
    background-color: pink;
}

main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}

section {
    padding: 1rem;
    background-color: #fff;
}

