body {
    text-align: center;
  }

header {
    font-size: 50px;
    margin: 40px;
    padding-bottom: 0px;
    padding-top: 20px;

}


  h1 {
    font-size: 20px;
    color: steelblue;
    padding-bottom: 10px;
    padding-top: 0px;
    text-decoration: underline;
  }

  p {
    padding-left: 425px;
    padding-right: 425px;
    padding-bottom: 10px;
    text-align: left;
    font-size: 20px;

  }

  h2 {
    padding-left: 375px;
    padding-right: 375px;
    text-align: left;
    font-weight: normal;
    font-size: 20px;
    font-style: italic;
    padding-bottom: 10px;

  }
  
 h3 {
    padding-left: 375px;
    padding-right: 375px;
    text-align: left;
    font-weight: normal;
    font-size: 20px;
    padding-bottom: 10px;

 }

 img {
    padding: 20px;
 }
  